@import '@/styles/variables/colors'
@import '@/styles/variables/fonts'

.instruction_container
    padding: 64px 0
    margin: 64px 0 64px 64px
    height: 797px
    width: 544px
    border: 1px solid $color-3-regular-font
    display: flex
    flex-direction: column
    justify-content: space-between

    & .instruction_step
        display: flex
        justify-content: space-between



