@import '@/styles/variables/colors'
@import '@/styles/variables/fonts'

.store_container
    background-color: $color-13-store-div-background
    height: 144px
    display: flex
    justify-content: flex-start

.store
    width: 312px
    height: 80px
    display: flex
    justify-content: center
    align-items: center
    border: solid 1px black

    & img
        width: 48px
        heoght: 48px
