@import '@/styles/variables/colors'
@import '@/styles/variables/fonts'

.email_card
    background-color: $color-7-email-card-background
    height: 797px
    width: 544px
    border: 1px solid $color-3-regular-font
    border-radius: 10px
    padding: 64px 64px 63px 64px
    margin: 64px 64px 64px 0
    position: relative

    h1
        @include caveat
        font-size: 48px
        margin: 0 0 16px 0

    p 
        @include noto-regular
        font-size: 20px
        margin: 16px 0 40px 0

    .error_state
        @include noto-regular
        font-size: 12px
        height: 12px
        color: $color-11-error-state
        margin: 0 0 7px 0

    .success_message
        @include noto-bold
        font-size: 16px
        line-height: 32px
        display: flex
        gap: 16px
        align-items: center
        margin-bottom: 16px

    form
        width: 416px

        input
            @include noto-regular
            font-size: 20px
            color: $color-8-email-address
            width: 100%
            height: 64px
            border-radius: 10px
            border: 1px solid $color-3-regular-font
            margin: 0 0 8px 0
            background-image: url('/email.svg')
            background-repeat: no-repeat
            background-size: 20px 16px
            background-position: left 20px center
            padding-left: 55px

        button
            @include noto-bold
            font-size: 20px
            color: $color-2-white
            width: 100%
            height: 64px
            border-radius: 10px
            border: 1px solid $color-3-regular-font
            margin: 8px 0 0 0
            background-color: $color-4-blue-font 
            transition: all .25s ease-in-out

            &:hover
                box-shadow: -2px 2px 5px #1F343E28
                transform: scale(1.01)
                position: relative
                left: 1px
                bottom: 1px
                
    .referral_div
        width: 416px
        display: flex
        
        input
            @include noto-regular
            font-size: 20px
            color: $color-8-email-address
            width: 320px
            height: 64px
            border-radius: 10px 0 0 10px
            border: 1px solid $color-3-regular-font
            margin: 0 0 8px 0
            padding-left: 20px

        button
            @include noto-bold
            font-size: 20px
            color: $color-2-white
            background-color: $color-4-blue-font
            width: 96px
            height: 64px
            border-radius: 0 10px 10px 0
            border: 1px solid $color-3-regular-font
            border-left: none
            margin: 0 0 8px 0
            transition: all .25s ease-in-out

            &:hover
                box-shadow: -2px 2px 5px #1F343E28
                transform: scale(1.01)
                border-left: 1px solid $color-3-regular-font
                position: relative
                left: 1px
                bottom: 1px
                

    .small_text
        @include noto-regular
        font-size: 16px
        color: $color-8-email-address
        position: absolute
        bottom: 0

// MOBILE
@media (max-width: 1120px)

    .email_card
        height: 581px
        width: 343px
        border-radius: 10px
        padding: 32px 16px
        margin: 32px 16px 0 16px

        h1
            font-size: 32px
            margin-bottom: 25px

        p 
            font-size: 16px
            margin-bottom: 24px

        form
            width: 311px

            input
                font-size: 16px
                height: 56px

            button
                font-size: 16px
                width: 100%
                height: 56px
                border-radius: 10px

        .referral_div
            width: 311px
            display: block
        
            input
                font-size: 16px
                height: 56px
                color: $color-8-email-address
                width: 100%
                border-radius: 10px
                padding-left: 16px

            button
                font-size: 16px
                width: 100%
                height: 56px
                border-radius: 10px
                border: 1px solid $color-3-regular-font
                margin: 8px 0 0 0

            button:after
                content: ' URL'